.capable {
  padding-top: 164px;
  padding-bottom: 170px;
  
  .capable__title {
    color: #e7e7e7;
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 64.8px */
    letter-spacing: 1.08px;
    text-transform: uppercase;
  }
  .capable__list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    flex-wrap: wrap;
    height: 127px;
  }
  .capable__item {
    display: flex;
    align-items: center;
  }
  .capable__disc {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 29px */
    margin-left: 23px;
  }
}
