.faq {

    &__text {
color: #E7E7E7;
    font-family: "Roboto";
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 64.8px */
    letter-spacing: 1.08px;
    text-transform: uppercase;
    }

    &__row {
      display: flex;
    }

    &__text-1-1 {
color: #E7E7E7;
    font-family: "Roboto";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    /* 35px */
    }

    &__text-1-2 {
    color: #E7E7E7;
        font-family: "Roboto";
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%;
        /* 35px */
    }

    &__button {
    color: #E7E7E7;
        font-family: "Roboto";
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 70%;
        /* 19.6px */
        width: 42px;
            height: 42px;
            flex-shrink: 0;
            fill: rgba(255, 255, 255, 0.10);
    }
}