.faq {
    margin-bottom: 170px;
    padding-bottom: -5px;

    &__list {
        display: flex;
        flex-direction: column;
        gap: 112px;
    }

    &__item {
        display: flex;
        flex-wrap: wrap;
    }

    &__subtitle {
        color: #E7E7E7;
            font-family: Gilroy;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
            /* 28.8px */
            letter-spacing: 0.48px;
            text-transform: uppercase;
            margin-bottom: 32px;
        /* 17.5px */

        @media screen and (min-width: 768px) {
            color: #E7E7E7;
                font-family: Gilroy;
                font-size: 30px;
                font-style: normal;
                font-weight: 600;
                line-height: 120%;
                /* 36px */
                letter-spacing: 0.6px;
                text-transform: uppercase;
            margin-bottom: 32px;
        }

        @media screen and (min-width: 1200px) {
            color: #E7E7E7;
                font-family: Poppins;
                font-size: 54px;
                font-style: normal;
                font-weight: 600;
                line-height: 120%;
                /* 64.8px */
                letter-spacing: 1.08px;
                text-transform: uppercase;
            margin-bottom: 54px;
        }
    }

    &__numb {
        color: #e7e7e7;
        font-family: "Roboto Condensed";
        font-size: 28px;
        font-weight: 400;
        line-height: 125%;
        margin-right: 32px;
    }

    &__text {
        color: rgba(255, 255, 255, 0.80);
            font-family: Gilroy;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 125%;
            /* 17.5px */

        @media screen and (min-width: 768px) {
        color: rgba(255, 255, 255, 0.80);
            font-family: Gilroy;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 145%;
            width: 558px;
            /* 23.2px */
        }

        @media screen and (min-width: 1200px) {
            color: #E7E7E7;
                font-family: Poppins;
                font-size: 28px;
                font-style: normal;
                font-weight: 600;
                width: 995px;
                line-height: 125%;
                /* 35px */
        }
    }

    &__button {
        color: #e7e7e7;
        font-family: "Roboto Condensed";
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 70%;
        width: 42px;
        height: 42px;
        flex-shrink: 0;
        border-radius: 100px;
        background-color: rgba(255, 255, 255, 0.10);
    
    // @min-width: ;
    }

    &__line {
        width: 1440px;
        height: 1px;
        opacity: 0.2;
        background: rgba(255, 255, 255, 0.80);
        margin-left: 0;
        margin-top: 24px;
        margin-bottom: 1px;
    }
}

details {
    // margin-bottom: 10px;
    // border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

summary {
    // padding: 10px;
    // background-color: #f0f0f0;
    cursor: pointer;
    min-width: 1200px;
    position: relative;
    display: flex;
    list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}

summary::after {
    content: '';
    position: absolute;
    right: 10px;
    color: white;
    transition: transform 0.3s ease;
}

details[open] summary::after {
    transform: rotate(180deg);
}

.content {
    // background-color: #fff;
    // border-top: 1px solid #ccc;
    padding: 0 10px;
    overflow: hidden;
    transition: height 0.3s ease-out;
}

.fine {
    color: rgba(255, 255, 255, 0.80);
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    width: 897px;
    margin-left: 52px;
}