.header {
  display: flex;
  align-items: center;
  background-color: #191919;
  padding-top: 64px;
  padding-bottom: 74px;

  &__box {
    display: flex;
    justify-content: space-between;
  }

  &__nav-list {
    display: flex;
    gap: 77px;

    @media screen and (max-width: 1319px) {
      display: none;
    }
  }

  &__text {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    font-weight: 400;
  }
}
