.luxury {
    padding-bottom: 52px;


    @media screen and (min-width: 768px) {
       padding-bottom: 100px;
    }


    @media screen and (min-width: 1330px) {
        padding-bottom: 170px;
    }


    &__picture{
        margin-bottom: 32px;


        @media screen and (min-width:1330px) {
        margin-bottom: 50px;
        }
    }


    &__title {
        width: 103%;
        margin-bottom: 32px;
        color: #e7e7e7;
        font-size: 24px;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: .48px;
        text-transform: uppercase;


        @media screen and (min-width:768px) {
            width: auto;
            font-size: 30px;
            letter-spacing: .6px;
            margin-right: 60px;
            padding-bottom: 32px;
            display: flex;
            flex-direction: row-reverse;
            }

             
        @media screen and (min-width:1330px) {
            font-size: 54px;
        letter-spacing: 1.08px;
        margin-right: 80px;
        padding-bottom: 50px;
        }


    }


    &__photo {}


    &__box {
        padding-top: 32px;
        display: flex;
        flex-direction: column;
        gap: 42px;


     @media screen and (min-width:768px) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 60px;
    }

    @media screen and (min-width:1330px) {
    gap: 40px;
    padding-top: 50px;
    }
    }

    &__boxes {}

    &__text {
        height: 33px;
        flex-shrink: 0;
        color: #E7E7E7;
        font-size: 20px;
        font-weight: 600;
        line-height: 125%;
        margin-bottom: 20px;


        @media screen and (min-width:1330px) {
                font-size: 28px;
                width: 412px;
                height: 33px;
            }
        }

    &__content {
        color: rgba(255, 255, 255, 0.80);
        font-size: 14px;
        font-weight: 400;
        line-height: 145%;
        width: 280px;


        @media screen and (min-width:768px) {
        font-size: 16px;
        }


        @media screen and (min-width:1330px) {
         font-size: 20px;
         width: 492px;
        }
    }

    &__case {}
}