.reviews {
    margin-bottom: 170px;

    &__box {
        // width: 920px;
        // height: 590px;
        flex-shrink: 0;
        overflow: hidden;
        margin-right: 110px;
        margin-left: -20px;
    }

    // &__width {
    //     margin-right: -500px;
    // }

    &__title {
        display: none;

        @media screen and (min-width:1200px) {
            color: #E7E7E7;
            font-size: 54px;
            margin-bottom: 50px;
            font-style: normal;
            font-weight: 600;
            display: block;
            line-height: 120%;
            /* 64.8px */
            letter-spacing: 1.08px;
            text-transform: uppercase;
        }
    }

    &__subtitle {
        color: #E7E7E7;
        font-size: 54px;
        margin-bottom: 50px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        /* 64.8px */
        letter-spacing: 1.08px;
        text-transform: uppercase;

        @media screen and (min-width:768px) {}

        @media screen and (min-width:1200px) {
            display: none;
        }
    }

    &__s {
        color: #e4322f;
        font-family: "Roboto Condensed";
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        display: block;
        line-height: 125%;
        font-family: "Roboto Condensed";
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        margin-right: 10px;
        margin-left: 10px;
        line-height: 125%;
        /* 35px */
        opacity: 1;
    }

    &__minisubtext {
        color: #df3d3a83;
        font-family: "Roboto Condensed";
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        display: block;
        line-height: 125%;
        /* 35px */
    }

    &__texted {
        color: #DF3D3A;
        font-family: Gilroy;
        font-size: 28px;
        margin-bottom: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%;
    }

    &__text {
        color: rgba(255, 255, 255, 0.80);
        font-family: Gilroy;
        font-size: 20px;
        font-style: normal;
        margin-bottom: 90px;
        font-weight: 400;
        line-height: 145%;
    }

    &__column-1 {
        display: flex;
        align-items: end;
        height: 35px;
    }

    &__column-2 {
        display: flex;
        height: 149px;
        align-items: end;
    }

    &__column-3 {
        display: flex;
        height: 240px;
        align-items: end;
    }

    &__fix {
        display: flex;
        flex-direction: column;

        @media screen and (min-width:1200px) {
            flex-direction: row;
        }
    }

    &__video {
        width: 280px;
        height: 180px;
        flex-shrink: 0;

        @media screen and (min-width:768px) {
            width: 648px;
            height: 417px;
            flex-shrink: 0;
        }

        @media screen and (min-width:1200px) {
            width: 950px;
            height: 590px;
            flex-shrink: 0;
            margin-bottom: -8px;
        }
    }
}