.reviews {
    margin-bottom: 52px;
    width: 300px;

    @media screen and (min-width:768px) {
        margin-bottom: 100px;
        width: 768px;
    }

    @media screen and (min-width:1320px) {
        margin-bottom: 170px;
        width: 1320px;
    }

    &__box {
        // width: 920px;
        // height: 590px;
        flex-shrink: 0;
        overflow: hidden;
        // margin-right: 150px;
        margin-left: -17px;
    }

    // &__width {
    //     margin-right: -500px;
    // }

    &__title {
        display: none;

        @media screen and (min-width:1320px) {
            color: #E7E7E7;
            font-size: 54px;
            margin-bottom: 50px;
            font-style: normal;
            font-weight: 600;
            display: block;
            line-height: 120%;
            /* 64.8px */
            letter-spacing: 1.08px;
            text-transform: uppercase;
        }
    }

    &__subtitle {
        color: #E7E7E7;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        /* 28.8px */
        margin-left: 15px;
        letter-spacing: 0.48px;
        text-transform: uppercase;
        margin-bottom: 32px;

        @media screen and (min-width:768px) {
            margin-bottom: 32px;
            margin-right: 0;
            color: #E7E7E7;
            font-size: 30px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
            /* 36px */
            letter-spacing: 0.6px;
            text-transform: uppercase;
        }

        @media screen and (min-width:1320px) {
            display: none;
        }
    }

    &__s {
        color: #e4322f;
        font-family: "Roboto Condensed";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        display: block;
        background-color: transparent;
        line-height: 125%;
        font-family: "Roboto Condensed";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        margin-right: 10px;
        margin-left: 10px;
        line-height: 125%;
        /* 35px */
        opacity: 1;

        @media screen and (min-width:768px) {
            color: #DF3D3A;
            font-family: "Roboto Condensed";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            display: block;
            line-height: 125%;
            opacity: 1;
        }

        @media screen and (min-width:1320px) {
            color: #DF3D3A;
            font-family: "Roboto Condensed";
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            display: block;
            line-height: 125%;
            opacity: 1;
        }
    }

    &__minisubtext {
        color: #DF3D3A;
        font-family: "Roboto Condensed";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        display: block;
        background-color: transparent;
        line-height: 125%;
        opacity: 0.2;

        @media screen and (min-width:768px) {
            color: #DF3D3A;
            font-family: "Roboto Condensed";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            display: block;
            line-height: 125%;
            opacity: 0.2;
        }

        @media screen and (min-width:1320px) {
            color: #DF3D3A;
            font-family: "Roboto Condensed";
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            display: block;
            line-height: 125%;
            opacity: 0.2;
        }
    }

    &__texted {
        color: #DF3D3A;
        font-size: 20px;
        margin-bottom: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%;

        @media screen and (min-width:1320px) {
            font-size: 28px;
        }
    }

    &__text-1 {
        max-width: 530px;
        color: rgba(255, 255, 255, 0.80);
        font-size: 16px;
        font-style: normal;
        margin-bottom: 30px;
        font-weight: 400;
        line-height: 145%;

        @media screen and (min-width:1320px) {
            margin-bottom: 35px;
            font-size: 20px;
        }
    }

    &__text-2 {
        max-width: 530px;
        color: rgba(255, 255, 255, 0.80);
        font-size: 16px;
        font-style: normal;
        margin-bottom: 30px;
        font-weight: 400;
        line-height: 145%;

        @media screen and (min-width:1320px) {
            margin-bottom: 65px;
            font-size: 20px;
        }
    }

    &__text-3 {
        max-width: 530px;
        color: rgba(255, 255, 255, 0.80);
        font-size: 16px;
        font-style: normal;
        margin-bottom: 30px;
        font-weight: 400;
        line-height: 145%;

        @media screen and (min-width:1320px) {
            margin-bottom: 272px;
            font-size: 20px;
        }
    }

    &__column-1 {
        display: flex;

        @media screen and (min-width:768px) {
            margin-bottom: 32px;
            flex-shrink: 0;
        }

        @media screen and (min-width:1320px) {
            //  align-items: end;
            margin-bottom: 0px;
            // height: 309px;
        }
    }

    &__column-2 {
        display: flex;

        @media screen and (min-width:768px) {
            margin-bottom: 32px;
            flex-shrink: 0;
            margin-bottom: 0px;
        }

        @media screen and (min-width:1320px) {
            display: flex;
            height: 149px;
            align-items: end;
            margin-bottom: 0px;
        }
    }

    &__column-3 {
        display: flex;
        // height: 240px;
        // align-items: end;

        @media screen and (min-width:768px) {
            margin-bottom: 32px;
        }

        @media screen and (min-width:1320px) {
            display: flex;
            // height: 249px;
            align-items: end;
            margin-bottom: 0;
        }
    }

    &__fix {
        display: flex;
        flex-direction: column;

        @media screen and (min-width:768px) {
            flex-shrink: 0;
            gap: 32px;
        }


        @media screen and (min-width:1320px) {
            flex-direction: row;
            gap: 150px;
        }
    }

    &__video {
        width: 320px;
        height: 180px;
        flex-shrink: 0;
        margin-left: 17px;

        @media screen and (min-width:768px) {
            width: 708px;
            height: 417px;
            flex-shrink: 0;
            margin-right: 0;
            margin-bottom: 0px;
        }

        @media screen and (min-width:1320px) {
            width: 880px;
            height: 590px;
            flex-shrink: 0;
            margin-bottom: -8px;
            // margin-left: -23px;
        }
    }
}