@import "./base/reset";
@import "./base/common";
@import "./sections/header";
@import "./modals/menu";
@import "./sections/hero";
@import "./sections/premium";
@import "./sections/capable";
@import "./sections/luxury";
@import "./sections/bose-ar";
@import "./sections/guarantees";
@import "./sections/history";
@import "./sections/reviews";
@import "./sections/faq.scss";
@import "./sections/bose-nc";
@import "./sections/feedback";
@import "./sections/footer";