<section class="bose-ar">
    <div class="container">
        <div class="bose-ar__box">
            <div class="bose-ar__boxes">
                <h2 class="bose-ar__title">BOSE AR</h2>
                <h3 class="bose-ar__text">Brand name technology</h3>
                <p class="bose-ar__content">Bose AR is a unique audio platform augmented reality, that opens before you
                    new facets of sound. It allows you
                    to stay connected to the real world and immerse yourself in the virtual universe
                    at the same time.</p>
            </div>
            <div class="bose-ar__case">
                <picture>
                    <source
                      srcset="./image/desktop/bose-ar@desktop-1x.webp 1x,
                      ./image/desktop/bose-ar@desktop-2x.webp 2x"
                      media="(min-width: 1200px)"
                    />
                    <source
                      srcset="./image/table/bose-ar@table-1x.webp 1x,
                      ./image/table/bose-ar@table-2x.webp 2x"
                      media="(min-width: 768px)"
                    />
                    <source
                    srcset="./image/phone/bose-ar@phone-1x.webp 1x,
                    ./image/phone/bose-ar@phone-2x.webp 2x"
                      media="(max-width: 767px)"
                    />
                    <img
                      class="bose-ar__photo"
                      alt="woman-with-headphones"
                      src="./image/phone/bose-ar@phone-1x.webp 1x"
                    />
                  </picture>
            </div>
        </div>
    </div>
</section>