<section id="capable" class="capable">
  <div class="container">
    <h1 class="capable__title">capable of so much</h1>
    <ul class="capable__list">
      <li class="capable__item">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13"
          height="13"
          viewBox="0 0 13 13"
          fill="none"
        >
          <circle cx="6.5" cy="6.5" r="6.5" fill="#DF3D3A" />
        </svg>
        <p class="capable__disc">Ability to receive calls</p>
      </li>
      <li class="capable__item">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13"
          height="13"
          viewBox="0 0 13 13"
          fill="none"
        >
          <circle cx="6.5" cy="6.5" r="6.5" fill="#DF3D3A" />
        </svg>
        <p class="capable__disc">Rich and powerful sound</p>
      </li>
      <li class="capable__item">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13"
          height="13"
          viewBox="0 0 13 13"
          fill="none"
        >
          <circle cx="6.5" cy="6.5" r="6.5" fill="#DF3D3A" />
        </svg>
        <p class="capable__disc">Active noise cancellation option</p>
      </li>
      <li class="capable__item">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13"
          height="13"
          viewBox="0 0 13 13"
          fill="none"
        >
          <circle cx="6.5" cy="6.5" r="6.5" fill="#DF3D3A" />
        </svg>
        <p class="capable__disc">Unsurpassed microphone system</p>
      </li>
      <li class="capable__item">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13"
          height="13"
          viewBox="0 0 13 13"
          fill="none"
        >
          <circle cx="6.5" cy="6.5" r="6.5" fill="#DF3D3A" />
        </svg>
        <p class="capable__disc">Support of voice assistants</p>
      </li>
      <li class="capable__item">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13"
          height="13"
          viewBox="0 0 13 13"
          fill="none"
        >
          <circle cx="6.5" cy="6.5" r="6.5" fill="#DF3D3A" />
        </svg>
        <p class="capable__disc">Bose AR Augmented Reality Audio Platform</p>
      </li>
    </ul>
  </div>
</section>
