<section class="feedback">
  <div class="container feedback__box">
    <ul class="feedback__list">
      <li class="feedback__title">Feedback</li>
      <li class="feedback__text">
        We'll help you find the right headphones for you.
      </li>
    </ul>
    <div class="feedback__boxing">
      <form>
        <ul class="feedback__list">
          <li class="feedback__item">
            <input
              required
              placeholder="Your name"
              class="feedback__input"
              type="text"
              name="name"
              id="name"
            />
          </li>
          <li class="feedback__item">
            <input
              required
              placeholder="Your e-mail"
              type="email"
              class="feedback__input"
              name="email"
              id="email"
            />
          </li>
          <li class="feedback__item">
            <input
              required
              placeholder="Send us a message"
              type="message"
              class="feedback__textarea"
              name="message"
              id="message"
            />
          </li>
        </ul>
        <div class="feedback__checkbox">
          <input
            required
            type="checkbox"
            class="feedback__sqauare"
            name="privacy-policy"
            id="privacy-policy"
          />
          <label class="feedback__name-box" for="privacy-policy">
            <p class="feedback__desc">I agree to the</p>
            <a class="feedback__link" href="#">privacy policy</a>
          </label>
        </div>
        <button type="submit" class="feedback__button">
          <p class="feedback__button-text">SEND</p>
        </button>
      </form>
    </div>
  </div>
</section>
