<footer class="footer">
    <div class="container">
            <ul class="footer__list">
                <li class="footer__list-item">
                    <a class="footer__link" >Characteristics</a>
                </li>
                    <li class="footer__list-item">
                    <a class="footer__link">History</a>
                </li>
                    <li class="footer__list-item">
                    <a class="footer__link">Reviews</a>
                </li>
                    <li class="footer__list-item">
                        <a class="footer__link">Payment and delivery</a>
                    </li>
                    <li class="footer__list-item"><a class="footer__link">Store addresses</a>
                    </li>
                    <li class="footer__list-item">
                        <a class="footer__link">FAQ</a>
                </li>
            </ul>
            <h3>8 (800) 111-11-11</h3>
    </div>
</footer>