<section class="guarantees">
    <div class="guarantees__box">
        <div class="guarantees__boxes">
<img src="../image/desctop/guarantees@desctop-1x.png" alt="headphones">
        </div>
        <div class="guarantees__case">
            <h2 class="guarantees__title">Guarantees</h2>
            <div class="guarantees__block">
                <h3 class="guarantees__text">90 Day Money Back Guarantee</h3>
                <p class="guarantees__content">If you are not 100% satisfied with a product, you can return it back for a full refund.</p>
            </div>
            <div class="guarantees__element">
                <h3 class="guarantees__text">1 year warranty</h3>
                <p class="guarantees__content">Regardless of your country of residence,
                    if your headphones are broken, we will 
                    send you new ones.</p>
            </div>
        </div>
    </div>
</section>