<header class="header">
  <div class="container header__box">
    <a href="./index.html">
      <picture>
        <source
          srcset="
            ./image/desktop/bose-logo@desktop-1x.webp 1x,
            ./image/desktop/bose-logo@desktop-2x.webp 2x
          "
        />
        <img
          class="header__logo"
          alt=""
          src="./image/desktop/boes-logo@desktop-1x.webp 1x"
        />
      </picture>
    </a>

    <ul class="header__nav-list">
      <li class="header__item">
        <a class="header__text" href="#capable">Characteristics</a>
      </li>
      <li class="header__item">
        <a class="header__text" href="#history">History</a>
      </li>
      <li class="header__item">
        <a class="header__text" href="#reviews">Reviews</a>
      </li>
      <li class="header__item">
        <a class="header__text" href="#bose-nc">Payment and delivery</a>
      </li>
    </ul>
  </div>
</header>
