<section id="history" class="history">
    <div class="container">
        <div class="history__box">
            <div class="history__boxes">
                <h2 class="history__title">BRAND CREATION HISTORY</h2>
                <p class="history__content">The history of Bose Corporation began
                    with disappointment. In 1956, MIT graduate student Amar Bose bought one of the best stereo systems
                    at the time for his home.
                    After a few minutes of listening to the audio recording, his bewilderment turned
                    to disappointment. </p>
                <p class="history__content">From Amar's point of view, the sound was
                    so flat and unnatural that it was better not to listen to the music at all than to listen to it in
                    such a distorted form.</p>
                <img class="history__photo" src="./image/desktop/creation-1@desktop-1x.webp" alt="man">
            </div>
            <div class="history__block">
                <img class="history__image" src="./image/desktop/creation-2@desktop-1x.webp" alt="man-with-camera">
                <p class="history__content">Bose's frustration grew into a firm determination to build audio equipments
                    that would reproduce sound
                    with impeccable accuracy and naturalness</p>
                <h3 class="history__text">Never stop dreaming. Always dream of the best, and think about how to achieve
                    it.</h3>
                <p class="history__name">Amar Bose is a company founder </p>
            </div>
        </div>
    </div>
</section>