<div class="menu js-menu-container" data-menu>
  <div class="container">
    <div class="menu__box">
      <picture>
        <source
          srcset="
            ./image/desktop/bose-logo@desktop-1x.webp 1x,
            ./image/desktop/bose-logo@desktop-2x.webp 2x
          "
        />
        <img
          class="menu__logo"
          alt=""
          src="./image/desktop/boes-logo@desktop-1x.webp 1x"
        />
      </picture>
      <button class="menu__close js-close-menu button-close" type="button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
        >
          <path
            d="M18.0915 5.36396C18.482 5.75449 18.482 6.38765 18.0915 6.77818L13.1425 11.7272L18.0915 16.6777C18.482 17.0682 18.482 17.7014 18.0915 18.0919C17.701 18.4824 17.0678 18.4824 16.6773 18.0919L11.7282 13.1414L6.77779 18.0919C6.38727 18.4824 5.7541 18.4824 5.36358 18.0919C4.97306 17.7014 4.97306 17.0682 5.36358 16.6777L10.314 11.7272L5.36358 6.77817C4.97306 6.38764 4.97306 5.75448 5.36358 5.36396C5.75411 4.97343 6.38727 4.97343 6.7778 5.36396L11.7282 10.313L16.6773 5.36396C17.0678 4.97344 17.701 4.97344 18.0915 5.36396Z"
            fill="white"
            fill-opacity="0.8"
          />
        </svg>
      </button>
    </div>
    <ul class="menu__list">
      <li class="header__item">
        <a class="header__text" href="#header">start</a>
      </li>
      <li class="menu__item">
        <a class="menu__text" href="#capable">Characteristics</a>
      </li>
      <li class="menu__item">
        <a class="menu__text" href="#history">History</a>
      </li>
      <li class="menu__item">
        <a class="menu__text" href="#reviews">Reviews</a>
      </li>
      <li class="menu__item">
        <a class="menu__text" href="#bose-nc">Payment and delivery</a>
      </li>
    </ul>
  </div>
</div>
