<section>
    <div class="container slider">
        <div>
            <ul>
                <li>
                    <img src="" alt="">
                </li>
                <li>
                    <h2></h2>
                    <h3></h3>
                    <p></p>
                    <h3><span></span></h3>
                </li>
            </ul>
        </div>
        <div>
            <ul>
                <li>
                    <img src="" alt="">
                </li>
                <li>
                    <h2></h2>
                    <h3></h3>
                    <p></p>
                    <h3><span></span></h3>
                </li>
            </ul>
        </div>
        <div>
            <ul>
                <li>
                    <img src="" alt="">
                </li>
                <li>
                    <h2></h2>
                    <h3></h3>
                    <p></p>
                    <h3><span></span></h3>
                </li>
            </ul>
        </div>
    </div>
</section>